.header-container {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);

    .header-content {
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 20px;

        .header-logo {
            width: 300px;
            height: 100%;
            background: url('../../assets/images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .header-text {
            color: #27703A;
            font-size: 28px;
        }
    }
}