.announce-container {
    padding-left: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(182, 177, 177, 0.322);

    .announce-content {
        width: 60%;

        .announce-title {
            font-size: 21px;
            margin: 10px 0;
        }
    }


}